*,
html {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.body {
  font-family: "Roboto Mono", monospace;
  background-color: rgb(219, 210, 197);
}

.navbar {
  background-color: #ffc700;
  height: 50px;
  font-family: "Frijole", cursive;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: auto 50px;
}

.navbar .container .logo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 5px 0px;
  font-size: 28px;
}

.navbar .container .list-item {
  display: flex;
  justify-content: space-between;
}

.navbar .container ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  gap: 10px;
  margin-top: 13px;
  letter-spacing: 2px;
}

.navbar .container ul li a {
  text-decoration: none;
  color: rgb(29, 28, 28);
  font-size: 14px;
}

.text {
  position: absolute;
  top: 250px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  text-align: center;
  left: 250px;
  gap: 20px;
  font-family: "Satisfy", cursive;
  font-size: 32px;
}

.text h4 {
  padding: 20px;
}
/* main */
main {
  width: 100%;
  height: 400px;
}

.hero-img {
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
}

.hero-img img {
  text-align: center;
  position: absolute;
  right: 0px;
}

/* footer */
footer {
  background-color: #ffc700;
  width: 100%;
  height: 400px;
  margin-top: 269px;
}

footer .container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-left: 2em;
}

.contact li {
  list-style: none;
  padding: 5px;
  margin-top: 15px;
}

/* end footer */

.form-contact {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  position: relative;
  width: 50%;
  gap: 10px;
  left: -50px;
  margin-top: 25px;
}

.form-contact .text-area label {
  font-family: "Frijole", cursive;
  font-size: 32px;
}

.form-contact .email {
  padding: 5px 20px;
  border-radius: 5px;
  box-shadow: none;
  stroke: none;
  border: none;
}

.form-contact .subject {
  padding: 5px 20px;
  border-radius: 5px;
  box-shadow: none;
  stroke: none;
  border: none;
}

.form-contact .text-area {
  height: 180px;
  padding: 5px 20px;
  border-radius: 5px;
  box-shadow: none;
  stroke: none;
  border: none;
}

.form-contact img {
  position: absolute;
  bottom: 0px;
  right: 0px;
  margin-bottom: 15px;
}

.copyright {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin-top: 30px;
}
